rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /faculty/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /reviews/{document=**} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    match /courses/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /polls/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /poll_votes/{document=**} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
